<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <li> Status Active: <%= current_user.email_active %></li>
    <% if current_user.email_active == false %>
      <li>This account has not yet been activated. Please check your email.</li>
    <% end %>
  </ul>
  <section class='github_button'>
    <% if current_user.github_token.nil? %>
    <%= button_to 'Connect to Github', '/auth/github' %>
    <% end %>
  </section>
  <section class="bookmarks">
    <h1>Bookmarked Segments</h1>
    <% current_user.grab_tutorial_names.each do |name| %>
    <section id="tutorial-<%= name %>">
        <h2><%= name %></h2>
        <ul>
          <% current_user.grab_videos.each do |video| %>
            <% if video.tutorial.title == name %>
              <li><%= video.title %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </section>
  </section>
  <section class="friends_section">
    <h1>Friends</h1>
    <ul><% current_user.friend_users.each do |friend| %>
      <li> <%= friend.username %></li>
    <% end %></ul>
  </section>
  <section class='Github_section'>
    <%  %>
    <% unless current_user.github_token.nil? %>
      <h2> Github </h2>
      <ul>
        <% facade.grab_repos.each do |repo| %>
          <li><%= link_to repo.name, repo.url %> </li>
        <% end %>
      </ul>
  </section>
  <section class="Github_followers_section">
    <h2>Followers</h2>
    <ul>
      <% facade.grab_followers.each do |follower| %>
        <li id="followers_username-<%= follower.name %>"><%= link_to follower.name , follower.url %>
          <% if follower.registered_user? && !follower.not_friend?(current_user) %>
            <%= link_to  "Add as Friend", user_path(current_user, friend_username: follower.name), method: :patch %> </li>
          <% end %>
      <% end %>
    </ul>
  </section>
  <section class="Github_following_section">
    <h2>Following</h2>
    <ul>
      <% facade.grab_following.each do |following| %>
        <li id="following_username-<%= following.name %>"><%= link_to following.name , following.url %>
          <% if following.registered_user? && !following.not_friend?(current_user) %>
            <%= link_to  "Add as Friend", user_path(current_user, friend_username: following.name), method: :patch  %> </li>
          <% end %>
      <% end %>
    </ul>
  </section>
  <% end %>
<section class="invite_section">
  <%= link_to 'Send an Invite', invite_path %>
</section>
</section>
